body {
	/* background-color: rgb(59, 57, 55); */
	background-color: rgb(246, 242, 242);
	display: inline-flexbox;
	align-content: center;
}

.form_login {
	margin-top: 70px;
	position: relative;
	background-color: rgb(59, 57, 55);
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.bouton_1 {
	height: 40px;
	width: 100%;
	border: solid 1px white;
	border-radius: 20px;
	background-color: rgb(59, 57, 55);
	color: white;
	margin-top: 10px;
	margin-right: 20px;
}

.bouton_1:hover {
	background-color: rgb(95, 94, 93);
}

.bouton_3 {
	height: 40px;
	width: 100%;
	border: solid 1px rgb(59, 57, 55);
	border-radius: 20px;
	background-color: white;
	color: rgb(59, 57, 55);
	margin-top: 10px;
}

.bouton_3:hover {
	background-color: rgb(200, 200, 200);
}

.input {
	height: 40px;
	width: 100%;
	border: none;
	border-radius: 20px;
	background-color: rgb(246, 242, 242);
	color: rgb(52, 52, 52);
	margin-top: 10px;
	padding: 10px;
}

.little_input {
	height: 30px;
	width: 100%;
	border: solid 1px rgb(52, 52, 52);
	border-radius: 20px;
	background-color: rgb(246, 242, 242);
	color: rgb(52, 52, 52);
	margin-top: 10px;
	padding: 10px;
}

.left {
	padding: 20px;
	border-radius: 5px 0px 0px 5px;
	background-color: white;
	width: 50%;
}

.right {
	position: absolute;
	align-items: center;
	border: none;
	top: 30%;
	right: 14%;
}

.white {
	color: white;
}

.bouton_2 {
	margin-right: 10px;
	height: 40px;
	padding-left: 50px;
	padding-right: 50px;
	border: none;
	border-radius: 20px;
	background-color: rgb(175, 175, 175);
	color: black;
	margin-top: 10px;
	cursor: pointer;
}

.bouton_2:hover {
	background-color: rgb(133, 132, 132);
}

.bouton_safe {
	margin-left: 10px;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	border-radius: 20px;
	background-color: rgb(59, 57, 55);
	color: rgb(255, 255, 255);
	margin-top: 10px;
	cursor: pointer;
}

.bouton_safe:hover {
	/* box-shadow: 2px 3px 4px rgb(221, 41, 41); */
	background-color: rgb(80, 80, 80);
=======
    /* background-color: rgb(59, 57, 55); */
    background-color: rgb(246, 242, 242);
    display: inline-flexbox;
    align-content: center;
}

.form_login {
    margin-top: 70px;
    position: relative;
    background-color: rgb(59, 57, 55);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.bouton_1 {
    height: 40px;
    width: 100%;
    border: solid 1px white;
    border-radius: 20px;
    background-color: rgb(59, 57, 55);
    color: white;
    margin-top: 10px;
    margin-right: 20px;
}

.bouton_1:hover {
    background-color: rgb(95, 94, 93);
}

.bouton_3 {
    height: 40px;
    width: 100%;
    border: solid 1px rgb(59, 57, 55);
    border-radius: 20px;
    background-color: white;
    color: rgb(59, 57, 55);
    margin-top: 10px;
}

.bouton_3:hover {
    background-color: rgb(200, 200, 200);
}

.input {
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: rgb(246, 242, 242);
    color: rgb(52, 52, 52);
    margin-top: 10px;
    padding: 10px;
}

.little_input {
    height: 30px;
    width: 100%;
    border: solid 1px rgb(52, 52, 52);
    border-radius: 20px;
    background-color: rgb(246, 242, 242);
    color: rgb(52, 52, 52);
    margin-top: 10px;
    padding: 10px;
}

.left {
    padding: 20px;
    border-radius: 5px 0px 0px 5px;
    background-color: white;
    width: 50%;
}

.right {
    position: absolute;
    align-items: center;
    border: none;
    top: 30%;
    right: 14%;
}

.white {
    color: white;
}

.bouton_2 {
    margin-right: 10px;
    height: 40px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    border-radius: 20px;
    background-color: rgb(175, 175, 175);
    color: black;
    margin-top: 10px;
    cursor: pointer;
}

.bouton_2:hover {
    background-color: rgb(133, 132, 132);
}

.bouton_safe {
    margin-left: 10px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 20px;
    background-color: rgb(59, 57, 55);
    color: rgb(255, 255, 255);
    margin-top: 10px;
    cursor: pointer;
}

.bouton_safe:hover {
    /* box-shadow: 2px 3px 4px rgb(221, 41, 41); */
    background-color: rgb(80, 80, 80);

}

.bouton_recherche {
	margin-right: 10px;
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	border-radius: 0px 20px 20px 0px;
	background-color: rgb(17, 133, 235);
	color: black;
	margin-top: 10px;
	cursor: pointer;
}

.bouton_recherche:hover {
	background-color: rgb(133, 132, 132);
}

.bouton_rouge {
	margin-left: 10px;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	/* border: solid 1px rgb(59, 57, 55); */
	border: none;
	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	color: rgb(59, 57, 55);
	margin-top: 10px;
	cursor: pointer;
}

.bouton_rouge:hover {
	/* box-shadow: 2px 3px 4px rgb(221, 41, 41); */
	border: solid 1px rgb(221, 41, 41);
	background-color: white;
	color: rgb(221, 41, 41);
}

.entete {
	position: relative;
	padding: 10px;
	height: 70px;
	background-color: white;
	width: 100%;
	box-shadow: 0px 4px 4px rgb(175, 175, 175);
	align-items: center;
	clear: both;
}

.reinitialise_div {
	position: absolute;
	top: 10px;
	right: 10px;
}

.all_foot {
	width: 100%;
	height: 100px;
	background-color: rgb(59, 57, 55);
	padding: 40px;
	clear: both;
}

.content_link {
	position: absolute;
	top: 25px;
}

.content_link li {
	list-style: none;
	float: left;
	margin-right: 30px;
}

.content_link a {
	color: rgb(52, 52, 52);
	text-decoration: none;

	margin-right: 2px;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}

.content_link a:hover {
	font-style: none;
	color: rgb(93, 93, 93);
	border: solid 1px transparent;
	line-height: 1.42857143;
}

a {
	text-decoration: none;
}

.contenu {
	margin: 3%;
	width: 650px;
	float: left;
	padding: 2%;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 3px 4px rgb(175, 175, 175);
	background-color: white;
}

.contenu_fill {
	margin: 3%;
	width: 94%;
	padding: 2%;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 3px 4px rgb(175, 175, 175);
	background-color: white;
	clear: both;
}

.lien {
	margin: 10px;
	color: rgb(93, 93, 93);
	text-decoration: none;
}

.lien :hover {
	color: rgb(179, 179, 179);
	text-decoration: none;
}

.every_thing {
	width: 100%;
	clear: both;
}

.barre_recherche {
	padding: 20px;
	background-color: white;
	box-shadow: 0px 3px 5px rgb(175, 175, 175);
	margin-top: 10px;
	width: 100%;
	clear: both;
	align-items: center;
	align-content: center;
}

.input_recherche {
	height: 39px;
	width: 100%;
	border: none;
	border-radius: 20px 0px 0px 20px;
	background-color: rgb(246, 242, 242);
	color: rgb(52, 52, 52);
	margin-top: 10px;
	padding: 10px;
}

.donnee {
	width: 50%;
	float: right;
}

.little_chiffre {
	margin: 3%;
	width: 300px;
	float: left;
	padding: 2%;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 3px 4px rgb(175, 175, 175);
	background-color: white;
}

.little_chiffre:hover {
	background-color: rgb(145, 144, 144);
=======
    margin-right: 10px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 0px 20px 20px 0px;
    background-color: rgb(17, 133, 235);
    color: black;
    margin-top: 10px;
    cursor: pointer;
}

.bouton_recherche:hover {
    background-color: rgb(133, 132, 132);
}

.bouton_rouge {
    margin-left: 10px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    /* border: solid 1px rgb(59, 57, 55); */
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(59, 57, 55);
    margin-top: 10px;
    cursor: pointer;
}

.bouton_rouge:hover {
    /* box-shadow: 2px 3px 4px rgb(221, 41, 41); */
    border: solid 1px rgb(221, 41, 41);
    background-color: white;
    color: rgb(221, 41, 41);
}

.entete {
    position: relative;
    padding: 10px;
    height: 70px;
    background-color: white;
    width: 100%;
    box-shadow: 0px 4px 4px rgb(175, 175, 175);
    align-items: center;
    clear: both;
}

.reinitialise_div {
    position: absolute;
    top: 10px;
    right: 10px;
}

.all_foot {
    width: 100%;
    height: 100px;
    background-color: rgb(59, 57, 55);
    padding: 40px;
    clear: both;
}

.content_link {
    position: absolute;
    top: 25px;
}

.content_link li {
    list-style: none;
    float: left;
    margin-right: 30px;
}

.content_link a {
    color: rgb(52, 52, 52);
    text-decoration: none;

    margin-right: 2px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.content_link a:hover {
    font-style: none;
    color: rgb(93, 93, 93);
    border: solid 1px transparent;
    line-height: 1.42857143;
}

a {
    text-decoration: none;
}

.contenu {
    margin: 3%;
    width: 650px;
    float: left;
    padding: 2%;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 3px 4px rgb(175, 175, 175);
    background-color: white;
}

.contenu_fill {
    margin: 3%;
    width: 94%;
    padding: 2%;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 3px 4px rgb(175, 175, 175);
    background-color: white;
    clear: both;
}

.lien {
    margin: 10px;
    color: rgb(93, 93, 93);
    text-decoration: none;
}

.lien :hover {
    color: rgb(179, 179, 179);
    text-decoration: none;
}

.every_thing {
    width: 100%;
    clear: both;
}

.barre_recherche {
    padding: 20px;
    background-color: white;
    box-shadow: 0px 3px 5px rgb(175, 175, 175);
    margin-top: 10px;
    width: 100%;
    clear: both;
    align-items: center;
    align-content: center;
}

.input_recherche {
    height: 39px;
    width: 100%;
    border: none;
    border-radius: 20px 0px 0px 20px;
    background-color: rgb(246, 242, 242);
    color: rgb(52, 52, 52);
    margin-top: 10px;
    padding: 10px;
}

.donnee {
    width: 50%;
    float: right;
}

.little_chiffre {
    margin: 3%;
    width: 300px;
    float: left;
    padding: 2%;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 3px 4px rgb(175, 175, 175);
    background-color: white;
}

.little_chiffre:hover {
    background-color: rgb(145, 144, 144);
}